<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
        window.GENRE_NAME='{{genre_name}}'
        window.URL_PARAM='with_genres={{with_genres}}'
        //alert(URL_PARAM)
    </script>
    {{>[head]}}
  </head>
  <body>
    <div class="center-body"  >

    <!-- Header -->
   <header class="header"></header>
    <main>
      <!-- Sidebar -->
      <nav class="sidebar" sidebar></nav>
      <div class="overlay" overlay menu-toggler></div>

      <article class="container" page-content></article>
    </main>
    </div>
    {{>[flixy]}}
    {{>[my-account]}}

  </body>
</html>
