<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Watch {{movieTitle}} on Chatflix" />
    <title></title>

    <!-- primary meta tags -->
    <meta
      name="description"
      content="Watch {{movieTitle}} on Chatflix, the ultimate streaming destination."
    />


    <!-- Open Graph tags -->
    <meta property="og:type" content="video.movie" />
    <meta property="og:title" content="Watch {{movieTitle}} on Chatflix" />
    <meta property="og:description" content="Stream {{movieTitle}} in HD anywhere in the world with Chatflix.xyz, your streaming destination" />
    <meta property="og:image" content="/images/chatflix-logo.png" />
    <meta property="og:url" content="http://chatflix.org/movie/{{movieId}}/{{movieTitle}}?ref=og.share" />



    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg" />
    <!-- Prerequisite -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- StyleSheet : CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Scripting : JS -->
    <script src="/assets/js/global.js" defer></script>
    <script>
    window.MOVIE_ID='{{movieId}}'
    window.MOVIE_TITLE='{{movieTitle}}'
    </script>
    <script type="module">
      import {header} from "/assets/js/header.js"
      document.querySelector("header").innerHTML = header("Movies")
    </script>

    <script src="/assets/js/membership.js"></script>

    <script src="/assets/js/movie/detail.js" type="module"></script>
  </head>
  <body>
    <div class="center-body">

    <!-- Header -->
    <header class="header"></header>
    <main>
      <!-- Sidebar -->
      <nav class="sidebar" sidebar></nav>
      <div class="overlay" overlay menu-toggler></div>

      <article class="container" page-content></article>
    </main>
    {{>[flixy]}}

    {{>[my-account]}}

    </div>
  </body>
</html>
