<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Stream {{title}} on Chatflix" />
    <title>{{title}}</title>

    <!-- primary meta tags -->
    <meta
      name="description"
      content="Stream {{title}} on Chatflix, the ultimate streaming destination."
    />


    <!-- Open Graph tags -->
    <meta property="og:type" content="video.movie" />
    <meta property="og:title" content="Stream {{title}} on Chatflix" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{{posterUrl}}}" />
    <meta property="og:url" content="http://chatflix.org/movie/{{movieId}}/{{titleSlug}}" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg" />
    <!-- Prerequisite -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- StyleSheet : CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
        <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
      crossorigin="anonymous">

    <!-- Scripting : JS -->
    <script src="/assets/js/global.js" defer></script>
    <script>
    window.MOVIE_ID='{{movieId}}'
    window.MOVIE_TITLE='{{title}}'
    window.MOVIE_TITLE_SLUG='{{titleSlug}}'
    window.STREAM_LOADER_URL='/stream/movie/{{movieId}}'
    window.OG_URL='https://chatflix.org/movie/{{movieId}}/{{titleSlug}}'
    //window.STREAM_LOADER_URL=''
    </script>

    <script type="module">
      import {header} from "/assets/js/header.js"
      document.querySelector("header").innerHTML = header("TV")
    </script>
    <script src="/members-area/js/user.js"></script>
    <script src="/assets/js/membership.js"></script>

    <script src="/assets/js/tv/detail.js" type="module"></script>

        <script
  src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="center-body"  >

    <!-- Header -->
    <header class="header"></header>
    <main>
      <!-- Sidebar -->
      <nav class="sidebar" sidebar></nav>
      <div class="overlay" overlay menu-toggler></div>

      <article class="container" page-content></article>
    </main>
    </div>

    {{>[flixy]}}
    {{>[my-account]}}

  </body>
</html>
